#container{
    width: 100vw;
    height: 100vh;
    background: rgb(88, 90, 89);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;    
}
#tabuleiro{
    width: 800px;
    height: 800px;
    display: flex;
    flex-direction: row;
}
